*{
    padding: 0;
    scroll-behavior: smooth;
    margin: 0;
    list-style: none;
    /* color: black; */
}
/* The body */
body{
    background: #333646;
    /* background: white */
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Poppins',sans-serif; */
    color: white;
    font-family: 'Quicksand', sans-serif;
    /* font-family: "Montserrat", sans-serif; */
}
.body-light{
    background: white!important;
    color: black!important;
}
.title-color{
    color: #ebebec;
    /* font-size: 5.rem!important; */
}
.title-light{
    color:#333333!important;
}
.social{
    padding: 10px 0;
}
.fyBzSG::after {
    content: "";
    display: block;
    width: 1px;
    height: 50vh;
    /* margin: 0px auto; */
    margin: auto;
    background-color: white;
}
/* change the scroll bar color too
and create a to the top */
.fab{
    color: white;
}
.color3{
    color:#d0d1d4!important;
    font-weight: 400;
}
.p-text-light{
    color:#191818!important;
    font-weight: 500;
}
.cardTitleLight{
    color:#333333!important;
    font-weight: 700;
}
.sun{
    color:#EB8B2C ;
}
.sticky{
    /* background: black!important; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* background: white!important; */
}
.stickyDark{
    background: #333646!important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bg-dark{
    background-color: transparent!important;
}
.isr-btn{
    color: #ffffff;
    background: #4581f7;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 21%);
    padding: 15px 30px 15px 30px;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    line-height: 1em;
    display: inline-block;
    padding: 12px 30px;
    background: #f9f9f9;
    font-size: 16px;
    text-decoration: none;
    color: #4d4d4d;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-box-shadow: 0px 0px 3px -1px rgb(0 0 0 / 20%);
    -ms-box-shadow: 0px 0px 3px -1px rgba(0,0,0,.2);
    box-shadow: 0px 0px 3px -1px rgb(0 0 0 / 20%);
    margin-right: 10px;
    margin-top: 10px;
    z-index: 0;
    overflow: hidden;
}
.intro-text{
    color: #bbbcc1;
    font-weight: 600;
}
.block{
    letter-spacing: 2.3px;
    font-size: 100%;
    display: block;
    color: #bbbcc1;
    font-weight: 500;
}
@media screen and (max-width:780px){
.title-colors{
    font-size: 1.9rem!important;
}
.small-mobile{
    font-size: 1.2rem!important;
}
.card-img {
    width: 100%!important;
    border-radius: calc(.5rem - 1px)!important;
    filter:grayscale(1px)
}

}
.position-sticky{
    top:74vh!important;
}
.fw-six{
    font-weight: 600;
}
.Name-Line{
    margin-top: 0rem!important;
    margin-bottom: 1rem;
    border: 0;
    width: 14%;
    border-top: 7px solid #ffaf29!important;
}
.sectionHr{
        margin-top: 1rem;
        width: 7%;
        margin-bottom: 1rem;
        border: 0;
        border-top: 4px solid #ffaf29!important;
}

#portfolio{
    margin-top: 20vh;
}
.resume{
    background-color: transparent;
    border: 1px solid inherit;
    border-radius: 8px;
    padding: 0.75rem 1rem;
    /* cursor: pointer; */
    transition: var(--transition);
    margin-left: 15px;
}
.nav-item{
    padding: 0 20px;
}
.no-p-left{
    padding-left: 0!important;
}
.card-img2 {
    width: 70%;
    border-radius: calc(.36rem - 1px)!important;
    filter: grayscale(0.2);
}

.navbar{
    /* padding:21px!important; */
    /* height: 9vh; */
    width: 100%;
    border-bottom: none!important;
    /* background:#222a36!important; */
    transition: all 0.1s ease-in-out;
}
.navbar-nav{
    margin-left: auto!important;
}
.nav-link{
    font-weight: 600;
    font-size: 16px;
    color: white;
    letter-spacing: 0.5px;
    /* font-size: 12px; */
}
.fab{
    font-size: 1.28rem!important;
}
.bg-darks{
    background-color: #333646;
}
.lightnav{
    background: white;
}
header{
    min-height: 90vh;
    color: rgb(235, 207, 207);
}
footer{
    margin-top:10vh
}
.other{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
p{
    font-size: 0.9rem;
    font-family: "Inter",sans-serif!important;
}

.form-control:focus {
    color: #495057;
    background-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(51 54 70);
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    /* color: #495057; */
    background: transparent;
    /* background-color: #fff; */
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit; 
    color: inherit!important;
    line-height: inherit;
}
label{
    font-weight: 600!important;
}

.navDark{
    color:white!important
}
.socialm{
   padding: 0 10px;
   font-size: 1.2rem;
}